    <div class="container text-center mt-5">
        <h1>Proyectos</h1>
        <div class="row mt-4">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 py-5 ">
                    <div class="card shadow">
                        <img src="../../../assets/karting.jpg" class="card-img-top" alt="Proyecto arboles">
                        <div class="card body">
                            <h4> Torneo de karting </h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet consectetur ad</p>
                            <div class="btn-group" role="group">
                                <a href="https://github.com/EmanuelFCasulo/Torneo-de-Karting" class="btn btn-light btn-l" role="button" ><img src="/../../assets/github.png" alt="Enlace"></a>
                                <a href="https://github.com/EmanuelFCasulo/Torneo-de-Karting/blob/main/README.md" class="btn btn-light btn-l" role="button"><img src="/../../assets/masinfo.png" alt="Enlace"></a> 
                            </div>
                        </div>
                    </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 py-5">
                <div class="card shadow">
                    <img src="../../../assets/arbol.jpg" class="card-img-top" alt="Proyecto arboles">
                        <div class="card body">
                            <h4> Inventario de arboles </h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet consectetur ad</p>
                                <div class="btn-group" role="group">
                                    <a href="https://github.com/EmanuelFCasulo/Torneo-de-Karting" class="btn btn-light btn-l" role="button" ><img src="/../../assets/github.png" alt="Enlace"></a>
                                    <a href="https://github.com/EmanuelFCasulo/Torneo-de-Karting/blob/main/README.md" class="btn btn-light btn-l" role="button"><img src="/../../assets/masinfo.png" alt="Enlace"></a> 
                                </div>
                        </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 py-5">
                <div class="card shadow">
                    <img src="../../../assets/dados.jpg" class="card-img-top" alt="Proyecto arboles">
                        <div class="card body">
                            <h4> Juego de dados </h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet consectetur ad</p>
                                <div class="btn-group" role="group">
                                    <a href="https://github.com/EmanuelFCasulo/Torneo-de-Karting" class="btn btn-light btn-l" role="button" ><img src="/../../assets/github.png" alt="Enlace"></a>
                                    <a href="https://github.com/EmanuelFCasulo/Torneo-de-Karting/blob/main/README.md" class="btn btn-light btn-l" role="button"><img src="/../../assets/masinfo.png" alt="Enlace"></a> 
                                </div>
                        </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 py-5">
                <div class="card shadow">
                    <img src="../../../assets/pesca.jpg" class="card-img-top" alt="Proyecto arboles">
                        <div class="card body">
                            <h4> Torneo de pesca </h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet consectetur ad</p>
                                <div class="btn-group" role="group">
                                    <a href="https://github.com/EmanuelFCasulo/Torneo-de-Karting" class="btn btn-light btn-l" role="button" ><img src="/../../assets/github.png" alt="Enlace"></a>
                                    <a href="https://github.com/EmanuelFCasulo/Torneo-de-Karting/blob/main/README.md" class="btn btn-light btn-l" role="button"><img src="/../../assets/masinfo.png" alt="Enlace"></a> 
                                </div>
                        </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 py-5">
                <div class="card shadow">
                    <img src="../../../assets/portfolio.jpg" class="card-img-top" alt="Proyecto arboles">
                        <div class="card body">
                            <h4> Portfolio Web - Full Stack </h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet consectetur ad</p>
                                <div class="btn-group" role="group">
                                    <a href="https://github.com/EmanuelFCasulo/PortfolioWebFullStack" class="btn btn-light btn-l" role="button" ><img src="/../../assets/github.png" alt="Enlace"></a>
                                    <a href="https://github.com/EmanuelFCasulo/Torneo-de-Karting/blob/main/README.md" class="btn btn-light btn-l" role="button"><img src="/../../assets/masinfo.png" alt="Enlace"></a> 
                                </div>
                        </div>
                </div>
            </div>

        </div>    
    </div>