<div class="row">
    <div class="col-xs-12">
        <img src="../../../assets/Foto.jpeg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3 id="nombre">{{persona.nombre}}</h3>
        <h6 id="cargo">Estudiante de programación en UTN FRGP</h6>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <span>
            <h3>Acerca de mí</h3>
        </span>
        <p>Estudiante de Programación en búsqueda de crecimiento tanto laboral como personal en el área de desarrollo, deseando ampliar mis conocimientos y experiencias. Gran facilidad para las relaciones interpersonales y rápido aprendizaje.</p>
    </div>
</div>
