<div class="row">
    <h1>Hard skills</h1>
        <div class="text-center col-sm-6 col-md-4 col-lg-3">
            <circle-progress
                [percent]="80"
                [radius]="100"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="120"
                [imageWidth]="120"
                [titleColor]="'white'"
                [titleFontSize]="'1.5em'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#E18D0C'"
                [innerStrokeColor]="'#D1A25B'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
            <h4>HTML</h4>
        </div>
        <div class="text-center col-sm-6 col-md-4 col-lg-3">
            <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'../assets/c++.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"
            [titleColor]="'white'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2260D3'"
            [innerStrokeColor]="'#5B84D1'"
            [animation]="true"
            [animationDuration]="700"
            ></circle-progress>
            <h4>C++</h4>
        </div>
        <div class="text-center col-sm-6 col-md-4 col-lg-3">
            <circle-progress
            [percent]="65"
            [radius]="100"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [titleColor]="'white'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#F5DE2C'"
            [innerStrokeColor]="'#F4E364'"
            [animation]="true"
            [animationDuration]="700"
            ></circle-progress>
            <h4>JavaScript</h4>
        </div>
        <div class="text-center col-sm-6 col-md-4 col-lg-3">
            <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"
            [titleColor]="'white'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#2260D3'"
            [innerStrokeColor]="'#5B84D1'"
            [animation]="true"
            [animationDuration]="700"
            ></circle-progress>
            <h4>CSS</h4>
        </div>
    </div>

<div class="row">  
    <h1>Soft skills</h1>
    <div class="text-center col-sm-6 col-md-4 col-lg-3">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../assets/trabajo en equipo.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [titleColor]="'white'"
        [titleFontSize]="'1.5em'"
        [showSubtitle]="false"
        [subtitleColor]="'white'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
        <h4>Trabajo en equipo</h4>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-3">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/comunicacion.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [titleColor]="'white'"
        [titleFontSize]="'1.5em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
        <h4>Comunicación</h4>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-3">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc]="'../assets/creatividad.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [titleColor]="'white'"
        [titleFontSize]="'1.5em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
        <h4>Creatividad</h4>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-3">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/liderazgo.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [titleColor]="'white'"
        [titleFontSize]="'1.5em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
        <h4>Liderazgo</h4>
    </div>
</div>  