<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Analista de soporte técnico</h2>
            </li>
                <p>Programatika S.A - Zona Norte, Buenos Aires, Argentina (Julio 2022 - Actualidad 2022)</p>
                <p>- Soporte y desarrollo</p>
        </ul>
        <ul>
            <li>
                <h2>Analista de soporte técnico</h2>
            </li>
                <p>Custom IT S.A - Ciudad Autónoma de Buenos Aires, Argentina (Marzo 2022 - Julio 2022)</p>
                <p>- Mantenimiento y reparación de pc (hardware/software), consultor y soporte de soluciones de ciberseguridad.</p>
        </ul>
        
        <ul>
            <li>
                <h2>Pasante de sistemas</h2>
            </li>
                <p>Surplast S.A. - Zona Norte, Buenos Aires, Argentina. (Julio 2021 - Marzo 2022)</p>
                <p>- Mantenimiento y reparación de pc (hardware/software), impresoras, Office 365. Asistencia manual y remota al usuario .</p>
        </ul>
    </div>
</div>