<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Técnicatura universitario en programación</h3> - 
                <h3>En curso</h3>
            </li>
                <p>Universidad Tecnológica Nacional (FRGP) - Tigre, Buenos Aires, Argentina.</p>
                <p id="aprobado">45% completado.</p>   

        </ul>
        <ul>
            <li>
                <h3>Bachillerato con orientación en bienes y servicios</h3> - 
                <h3>1 año</h3>
            </li>
                <p>C.E.N.S N°451 Escuela Técnica Henry Ford - Tigre, CABA, Buenos Aires, Argentina</p>
        </ul>
        <ul>
            <li>
                <h3>Técnico Electromecánico</h3> - 
                <h3>6 años</h3>
            </li>
                <p>E.E.T N°5 Raúl Scalabrini Ortiz - Tigre, Buenos Aires, Argentina.</p>
        </ul>

    </div>
</div>
